@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our Car Dealership!</p>
    <p>We are pleased to offer you a wide range of high-quality vehicles, from the latest models to pre-owned cars that fit every budget. 
        Our dealership strives to provide exceptional customer service and a seamless experience for all our visitors.</p>
    <p>Whether you are looking for a new car, need assistance in selecting the perfect model, or are looking to sell your vehicle, we are here to help. 
        Our team of professionals is committed to ensuring that you find the car that suits your needs and preferences.</p>
    <p>Explore our collection and let us guide you through the car-buying process. We look forward to helping you drive away in your perfect car!</p>
</div>
